@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

/*--------------------------------------------------------------Heading*/

.navbar-brand {
    font-family: "Cinzel",sans-serif;
}

.footerrows {
    border: 3px solid white;
}

.footercols {
    border: 3px solid red;
}

.footercontainer {
     background-color: #272727;
     border: 3px solid #C4C4C4;
}