@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');


/*-----------------------------------------------------------Special Paddings/Marigns/Texts*/





/*--------------------------------------------------------------Heading*/

.navbar-brand {
    font-family: "Cinzel",sans-serif;
}

.bg-color-footer {
    background-color: #272727;
}
/*--------------------------------------------------------------Footer*/
.footerrows {
    color: white;
}

.footercols {
    font-family: "Montserrat",sans-serif;
    color: white;
}

.footercontainer {
     border: none;
}

.footer-brand {
    font-family: "Cinzel",sans-serif;
}

